:root {
  --rad: 4px;
  --dur: 300ms;
  --color-bcg: blue;
  --color-light: #fff;
  --color-btn-not-active: rgb(203, 198, 198);
  --color-activ: rgb(146, 215, 146);
  --height: 40px;
  --btn-width: 40px;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 10px;
}

// Setup
body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}

.form-container {
  display: flex;
  background-color: var(--color-bcg);
  justify-content: center;
  align-items: center;
  height: 15%;
}
// Main styles
.search-form {
  position: relative;
  width: 300px;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: var(--rad);
}

.btn-submit,
input {
  height: var(--height);
  border: 0;
  color: var(--color-dark);
}

input[type='text'] {
  outline: transparent;
  width: 100%;
  background: var(--color-light);
  padding: 0px 10px;
  border-radius: var(--rad) var(--rad);
  appearance: none;
  transition: width var(--dur) var(--bez);
  z-index: 1;
}
.btn-submit {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  position: absolute;
  right: 10px;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-btn-not-active);
  border-radius: 0 var(--rad) var(--rad) 0;
  cursor: pointer;

  transition: visibility var(--dur) var(--bez), opacity var(--dur) var(--bez),
    background-color var(--dur) var(--bez);
}

input:not(:placeholder-shown) {
  width: calc(100% + var(--btn-width));
  + .btn-submit {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
}

.btn-submit:hover {
  background-color: var(--color-activ);
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.load-more {
  margin: 0 auto;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-light);
  background-color: var(--color-bcg);
  border: transparent;
  border-radius: var(--rad);
  cursor: pointer;

  transition: background-color var(--dur) var(--bez);
}

.load-more:hover {
  background-color: var(--color-activ);
}

.to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: rgba(184, 230, 255, 0.5);
  cursor: pointer;
  transition: box-shadow 150ms linear;
}

.to-top:hover {
  box-shadow: 0px 2px 6px rgba(20, 71, 212, 0.3);
}
