:root {
  --rad: 4px;
  --dur: 300ms;
  --color-bcg: blue;
  --color-light: #fff;
  --color-btn-not-active: rgb(203, 198, 198);
  --color-activ: rgb(146, 215, 146);
  --height: 40px;
  --btn-width: 40px;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 10px;
}

// Setup
body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}

.form-container {
  display: flex;
  background-color: var(--color-bcg);
  justify-content: center;
  align-items: center;
  height: 15%;
  transition: background-color 300ms linear;
}

.gallery {
  transition: background-color 300ms linear;
}
// Main styles
.search-form {
  position: relative;
  width: 300px;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: var(--rad);
}

.btn-submit,
input {
  height: var(--height);
  border: 0;
  color: var(--color-dark);
}

input[type='text'] {
  outline: transparent;
  width: 100%;
  background: var(--color-light);
  padding: 0px 10px;
  border-radius: var(--rad) var(--rad);
  appearance: none;
  transition: width var(--dur) var(--bez);
  z-index: 1;
}

.btn-submit {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  position: absolute;
  right: 10px;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-btn-not-active);
  border-radius: 0 var(--rad) var(--rad) 0;
  cursor: pointer;

  transition: visibility var(--dur) var(--bez), opacity var(--dur) var(--bez),
    background-color var(--dur) var(--bez);
}

input:not(:placeholder-shown) {
  width: calc(100% + var(--btn-width));
  + .btn-submit {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
}

.btn-submit:hover {
  background-color: var(--color-activ);
  outline: inherit;
  border: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

// .themetoggle__icon-dark {
// opacity:0;
//  visibility: hidden;
//  pointer-events: none;
// }

// ----стилі для теми день-ніч---------------------

.themetoggle__container {
  margin-left: 100px;
}
.themetoggle__icon-light {
  fill: yellow;
  transition: fill 300ms linear;
}

.themetoggle__icon-dark.is-shown ~ .themetoggle__icon-light,
.themetoggle__icon-dark {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.themetoggle__icon-dark.is-shown {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  fill: white;
}

.form-container.js-dark-theme {
  background-color: black;
}
.gallery.js-dark-theme {
  background-color: grey;
}

// -----------стилі для кнопки Load more------------
.load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 20px;
  text-transform: uppercase;
  color: var(--color-light);
  background-color: var(--color-bcg);
  border: transparent;
  border-radius: var(--rad);
  cursor: pointer;

  transition: background-color var(--dur) var(--bez);
}

.load-more:hover,
.load-more:focus {
  background-color: var(--color-activ);
}

.load-more:disabled {
  // opacity: 0.65;
  background-color: rgba(151, 217, 245, 0.65);
  cursor: none;
}

.load-more.is-hidden {
  display: none;
}

.load-more > .spinner.is-hidden {
  display: none;
}

.label ~ .spinner.is-hidden {
  margin-left: 10px;
}

.to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: rgba(184, 230, 255, 0.5);
  cursor: pointer;
  transition: box-shadow 150ms linear;
}

.to-top:hover {
  box-shadow: 0px 2px 6px rgba(20, 71, 212, 0.3);
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

// ----------pagination----------------

.pagination {
  margin-top: 10px;
  justify-content: center;
}
.pagination__wrap {
  display: flex;
  flex-wrap: nowrap;

  align-items: center;
}

.pagination__pages {
  display: flex;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.pagination__page {
  width: 40px;
  height: 40px;
  padding: 8px;
  cursor: pointer;
}

.pagination__page--active {
  font-weight: 800;
  color: gold;
}

.pagination__arrow {
  width: 40px;
  height: 40px;
}

.hidden {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0);
}
.hidden::after {
  content: '•••';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  place-items: center;
  border-radius: 22px;
  background-color: #fff;
}
.hidden + .hidden {
  display: none;
}
